@import "../../App.scss";

.tile-container {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 34px;
    background-color: $gray-200;
    transition: transform 0.4s ease;
    position: relative;
    text-decoration: none;
    font-size: 2.5rem;
    border: 5px solid $accent-color;
}

.tile-container p {
    position: relative;
    margin: auto;
    transition: opacity 0.3s ease-in;
    opacity: 0;
    pointer-events: none;
    letter-spacing: 3px;
    color: black;
    font-weight: 350;
}

.tile-container:hover {
    transform: scale(1.1);
    box-shadow: inset 0 0 20px #000000;
}

.tile-container:hover p {
    opacity: 0.85;
}

.tile-img {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease
}

.tile-img:hover {
    opacity: 0.4;
    cursor: pointer;
}